img{
    display: block;
    margin: -50px auto auto auto;
    max-width: 350px;
}
div{
    margin: auto;
    width: fit-content;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 00;
    font-size: 23px;
}
a{
    text-decoration: none;
    color: red;
}
